@import "./resets";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.panel {
  display: flex;
  flex-direction: column;
}
