@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500&display=swap");
* {
  font-family: "Ysabeau SC", sans-serif;
}
.mainNodeDiv {
  width: 100%;
  .labelHeader {
    background-color: #6042a1;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    svg {
      margin-right: 2em;
      cursor: pointer;
    }
    div {
      padding-left: 2%;
      color: white;
      font-size: 40px;
      font-weight: bolder;
      text-transform: capitalize;
    }
  }
  .description {
    margin-top: 2em;
    font-weight: bolder;

    width: auto;
    h6 {
      padding: 2%;
    }
    .relations {
      display: flex;
      align-items: center;
      font-weight: bolder;
      gap: 1em;
      padding: 2%;
      > * {
        text-transform: capitalize;
      }
      button {
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
    .groups {
      display: flex;
      align-items: center;
      font-weight: bolder;
      gap: 1em;
      padding: 2%;
    }
  }
}
