.container {
    height: 18rem;
    width: 32rem;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
}

.container p {
    margin-top: 1em;
    margin-left: 10em;
}

.container label input{
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    margin-left: 10em;
}

.container > label{
    margin-left: 12em;
}


.container button {
    margin-top: 1em;
    margin-left: 15em;
    margin-bottom: 1em;
    padding: 5px;
}

.container div{
    margin-top: 1em;
    margin-left: 9em;
    
}